*.sw?
work
.DS_Store
www/
ebapp/source/ignore/
.bundle
platforms/android/ant-build/*
platforms/android/ant-gen/*
local.properties
www/ignore
ebapp/bower_components/*
credentials
ebapp/source/js/credentials.coffee
