*.sw?
work
.DS_Store
www/*
ebapp/source/ignore/
.bundle
platforms/android/ant-build/*
platforms/android/bin/*
platforms/android/ant-gen/*
platforms/android/bin/*
platforms/android/CordovaLib/*
local.properties
www/ignore
ebapp/bower_components/*
credentials
ebapp/source/js/credentials.coffee
pludoni-release.keystore
/platforms/android/assets/www/
