ebapp/source/css/all.css-E
*.sw?
work
.DS_Store
www/*
.bundle
local.properties
www/ignore
ebapp/bower_components/*
credentials
ebapp/source/js/credentials.coffee
pludoni-release.keystore

# Android
platforms/android/assets/www
platforms/android/bin/
platforms/android/ant-gen/
platforms/android/gen/
platforms/android/res/xml/config.xml
platforms/android/ant-build/
platforms/android/CordovaLib/
platforms/android/out
platforms/android/.gradle
platforms/android/release-signing.properties
platforms/android/res/

# iOS
platforms/*/build/
platforms/*/CordovaLib/build/
platforms/*/www
platforms/ios/MyPace/config.xml
platforms/ios/.staging

# Emulator logs
platforms/ios/cordova/console.log


default.properties
gen
assets/www/cordova.js
framework/assets/www/.tmp*
local.properties
framework/lib
proguard.cfg
proguard.cfg
proguard-project.txt
framework/bin
framework/test/org/apache/cordova/*.class
framework/assets/www/.DS_Store
framework/assets/www/cordova-*.js
framework/assets/www/phonegap-*.js
framework/libs
framework/javadoc-public
framework/javadoc-private
test/libs
example
./test
test/bin
test/assets/www/.tmp*
test/assets/www/cordova.js
test/cordova/plugins/org.apache.cordova.device/www/device.js
test/cordova/plugins/org.apache.cordova.device/src/android/Device.java
tmp/**
.metadata
tmp/**/*
Thumbs.db
Desktop.ini
*.tmp
*.bak
*.swp
*.class
# IntelliJ IDEA files
*.iml
.idea
.rake*
