<?xml version='1.0' encoding='utf-8'?>
<widget id="de.pludoni.ebmobile" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Empfehlungsbund</name>
  <description>
    Stellen des Empfehlungsbundes.
  </description>
  <author email="app@pludoni.de" href="http://empfehlungsbund.de">pludoni GmbH</author>
  <content src="index.html" />
  <access origin="*" />
  <preference name="fullscreen" value="true" />
  <preference name="webviewbounce" value="true" />

  <feature name="SocialSharing">
    <param name="android-package" value="n1.xservices.plugins.SocialSharing"/>
  </feature>
  <feature name="Geolocation">
    <param name="android-package" value="org.apache.cordova.geolocation.GeoBroker" />
  </feature>
  <feature name="Toast">
    <param name="android-package" value="nl.xservices.plugins.Toast" />
  </feature>

  <feature name="Diagnostic">
    <param name="android-package" value="com.neton.cordova.diagnostic.Diagnostic"/>
  </feature>

  <feature name="GAPlugin" >
    <param name="android-package" value="com.adobe.plugins.GAPlugin"/>
  </feature>
</widget>

