<?xml version='1.0' encoding='utf-8'?>
<widget id="de.pludoni.empfehlungsbundmobile" version="2.1.6" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Empfehlungsbund</name>
    <description>
    Stellen des Empfehlungsbundes.
  </description>
    <author email="app@pludoni.de" href="http://www.empfehlungsbund.de">pludoni GmbH</author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="true" />
    <preference name="permissions" value="none"/>
    <preference name="SplashScreenDelay" value="10000" />
    <preference name="SplashScreen" value="screen" />
    <feature name="SocialSharing">
        <param name="android-package" value="n1.xservices.plugins.SocialSharing" />
    </feature>
    <feature name="Geolocation">
        <param name="android-package" value="org.apache.cordova.geolocation.GeoBroker" />
    </feature>
    <feature name="Toast">
        <param name="android-package" value="nl.xservices.plugins.Toast" />
    </feature>
    <feature name="Diagnostic">
        <param name="android-package" value="com.neton.cordova.diagnostic.Diagnostic" />
    </feature>
    <feature name="GAPlugin">
        <param name="android-package" value="com.adobe.plugins.GAPlugin" />
    </feature>
    <feature name="Diagnostic">
        <param name="id" value="com.neton.cordova.diagnostic" />
    </feature>
    <feature name="PushPlugin">
        <param name="id" value="com.phonegap.plugins.PushPlugin" />
    </feature>
    <feature name="Toast">
        <param name="id" value="nl.x-services.plugins.toast" />
    </feature>
    <feature name="Device">
        <param name="id" value="org.apache.cordova.device" />
    </feature>
    <cdv:engine id="android" />
    <cdv:engine id="firefoxos" />
    <cdv:engine id="ios" />
    <platform name="android">
      <!-- <icon src="res/icon-ldpi.png" density="ldpi" /> -->
      <icon src="platforms/android/res/drawable-mdpi/icon.png" density="mdpi" />
      <icon src="platforms/android/res/drawable-hdpi/icon.png" density="hdpi" />
      <icon src="platforms/android/res/drawable-xhdpi/icon.png" density="xhdpi" />
      <icon src="platforms/android/res/drawable-xxhpi/icon.png" density="xxhdpi" />
      <icon src="platforms/android/res/drawable-xxxhdpi/icon.png" density="xxxhdpi" />
    </platform>

</widget>
