.content-padded
  h3 Schritt 2: Ihr Standort
  h4.highlight<[ng-if='coordinates.name' ng-bind='coordinates.name']
      
ul.no-border.table-view
  li.table-view-divider
    | In welcher Region suchen Sie eine Stelle?
eb-location-form

br
.content-padded[ng-if='coordinates.lat']
  a.btn.btn-block href='#/' Los geht's!
