eb-loading-spinner[ng-if='!company']
div ng-if='company != undefined'
  ul.table-view.no-border
    li.table-view-cell
      img ng-src="{{company.logo.resized}}"
      p
        |{{company.name}}
      /* p */
        button.btn.btn-small ng-click="share()"
          span.icon-share.icon>
          span Teilen
    li.table-view-cell ng-if='company.description'
      | Kurzbeschreibung zur {{company.name}}
      p ng-bind-html='company.description | unsafe'

    li.table-view-cell ng-if='company.statement'
      | Mitarbeiterstatement
      p ng-bind-html='company.statement | unsafe'

    li.table-view-divider  ng-if='company.rewards' Arbeitgeberauszeichnungen
    li.table-view-cell.media.reward ng-repeat='reward in company.rewards'
      a.navigate-right[ng-click='reward.visible = !reward.visible']
        img.media-object.pull-left(ng-src="https://{{reward.badge}}" style='width: 50px; background: white')
        .media-body ng-bind='reward.name'

      .media-bottom ng-if='reward.visible'
        p[ng-bind-html='reward.description | unsafe']
        p: a[ng-href='{{reward.link}}' ng-target='_system'] Online-Profil der Auszeichnung


    li.table-view-divider
      | {{company.name}} im Internet
    li.table-view-cell.media
      a ng-href='{{company.url_firma}}' target="_system"
        span.icon.icon-home.media-object.pull-left
        .media-body Internetseite
    li.table-view-cell.media ng-if='company.facebook'
      a ng-href='{{company.facebook}}' ng-click="navigator.app.loadUrl('{{company.facebook}}', { openExternal:true });" target="_system"
        span.icon.icon-facebook2.media-object.pull-left
        .media-body Facebook-Fanpage
    li.table-view-cell.media[ng-if='company.twitter']
      a ng-href='{{company.twitter}}'  target="_system"
        span.icon.icon-twitter2.media-object.pull-left
        .media-body Twitter

  ul.table-view.no-border ng-if='company.people'
    li.table-view-divider  Ansprechpartner
  ul.table-view.no-border ng-repeat='person in company.people'
    li.table-view-cell.media.person
      img.media-object.pull-left[ng-src='{{person.photo}}' ng-src-fallback="http://img2.wikia.nocookie.net/__cb20130623142745/elderscrolls2/de/images/f/f5/Pedob%C3%A4r.jpg" style='width: 50px;']
      .media-body
        | {{person.anrede}} {{person.title}} {{person.name}},<br/> <small>{{person.position}}</small>

    li.table-view-cell.media[ng-if='person.profile_url']
      a.navigate-right[ng-href='{{person.profile_url}}' target='_system']
        span.icon.icon-xing.media-object.pull-left>
        | XING-Profil
    li.table-view-cell.media[ng-if='person.telefon']
      a.navigate-right[ng-href='tel:{{person.telefon}}' target='_system']
        span.icon.icon-phone.media-object.pull-left>
        | Anrufen
    li.table-view-cell.media[ng-if='person.email']
      a.navigate-right[ng-href='mailto:{{person.email}}' target='_system']
        span.icon.icon-mail.media-object.pull-left>
        | E-Mail





  eb-job-results[query-params='query_params' query-function='newest' title='Neuste Stellen der Organisation in Ihrer Region']



