header.bar.bar-tab
  a.tab-item href='#/' title="Home"
    span.icon.icon-home
    span.tab-label Home
  a.tab-item href='#/search' title="Suche"
    span.icon.icon-search
    span.tab-label Suche
  a.tab-item href='#/merkliste' title="Merkliste"
    span.icon.icon-star
    span.tab-label Merkliste ({{merkliste | objectLength}})
  a.tab-item href='#/settings' title="Einstellungen"
    span.icon.icon-settings
    span.tab-label Einstellungen
