<ul class="table-view no-border">
  <li class="table-view-divider">
    Merkliste
  </li>
  <li class="table-view-cell" ng-repeat="job in jobs track by job.id">
    <a class="navigate-right truncated" ng-href="#/job/{{job.id}}">{{job.title}}</a>
    <p>
      {{job.company_name}} - {{job.location}}
    </p>
  </li>
  <li class="table-view-cell" ng-if="jobs.length == 0">
    Sie haben noch keine Stellen in Ihrer Merkliste
  </li>
  <li class="table-view-cell">
    <p>
      <button class="btn-block btn btn-small" ng-click="share()" ng-if="cordova"><span class="icon-share icon"></span> <span>Teilen</span></button>
    </p>
  </li>
</ul>