<ul class="table-view no-border">
  <li class="table-view-divider">
    Standort
  </li>
  <li class="table-view-cell" ng-if="coordinates.name">
    Aktueller Standort: {{coordinates.name}}
  </li>
</ul>
<eb-location-form></eb-location-form>
<ul class="no-border table-view" ng-if="coordinates.lat">
  <li class="table-view-divider">
    Suchradius
  </li>
  <li class="table-view-cell">
    <div eb-static-map="" lat="coordinates.lat" lng="coordinates.lng" radius="radius" style="height: 400px; width: 100%"></div>
  </li>
  <li class="table-view-cell">
    <form>
      <div class="input-row">
        <label for="radius">km</label><input name="radius" ng-model="$parent.radius" placeholder="50 (km)" type="text" />
      </div>
    </form>
  </li>
</ul>
<ul class="no-border table-view">
  <li class="table-view-divider">
    Stellenfilter
  </li>
  <li class="table-view-cell toggles">
    <p>
      Jobs für Fach- und Führungskräfte
    </p>
    <div class="toggle" ng-class="{active: active(4)}" ng-click="toggleFid(4)">
      <div class="toggle-handle"></div>
    </div>
  </li>
  <li class="table-view-cell toggles">
    <p>
      Praktika, Ausbildungen, Werkstudenten
    </p>
    <div class="toggle" ng-class="{active: active(5)}" ng-click="toggleFid(5)">
      <div class="toggle-handle"></div>
    </div>
  </li>
  <li class="table-view-divider">
    Berufe
  </li>
  <li class="table-view-cell toggles" ng-repeat="pt in portal_type_list">
    <p ng-bind="pt.title">
      {{pt.title}}
    </p>
    <div class="toggle" ng-class="{active: activePortalType(pt.key)}" ng-click="togglePt(pt.key)">
      <div class="toggle-handle"></div>
    </div>
  </li>
</ul>
<ul class="table-view no-border">
  <li class="table-view-divider">
    Alle Einstellungen und Chronik löschen
  </li>
  <li class="content-padded">
    <button class="btn btn-block" ng-click="clear()">Einstellungen löschen</button>
  </li>
  <li class="table-view-cell">
    <small><a href="#/impressum">Impressum &amp; Datenschutzerklärung</a></small>
  </li>
</ul>