<div class="content-padded" ng-if="!coordinates.lat">
  <h4>
    Ermitteln Sie Ihren Standort per Klick oder manuell per Suche
  </h4>
  <p>
    Alle Suchanfragen und Stellenlisten beinhalten dann automatisch nur Stellen aus Ihrer Region.
  </p>
</div>
<div class="content-padded" ng-if="coordinates.lat">
  <h4>
    Ihr Standort wurde ermittelt.
  </h4>
  <p>
    Alle Suchanfragen und Stellenlisten beinhalten automatisch nur Stellen aus Ihrer Region. Sie können die Position ändern oder den Radius festlegen.
  </p>
</div>
<ul class="table-view no-border">
  <li class="content-padded" ng-if="!geolocationInProgress">
    <button class="btn btn-block" ng-click="geolocate()">Positions automatisch ermitteln</button>
  </li>
  <li class="content-padded" ng-if="geolocationInProgress">
    <button class="btn btn-block">bitte warten...</button>
  </li>
  <li class="table-view-divider">
    Alternativ
  </li>
  <li class="content-padded">
    <form ng-submit="search(search_query)">
      <p>
        <label for="geosearch">Ortssuche</label><input ng-model="search_query" placeholder="z.B. Berlin" type="text" />
      </p>
      <p>
        <button class="btn btn-block">Suchen</button>
      </p>
    </form>
  </li>
  <li class="table-view-cell" ng-if="search_result" ng-show="search_result">
    Suchergebnis: {{search_result.name}}
  </li>
</ul>
<ul class="no-border table-view" ng-if="coordinates.lat">
  <li class="table-view-divider">
    Suchradius
  </li>
  <li class="table-view-cell">
    <form>
      <div class="input-row">
        <label for="radius">km</label><input name="radius" ng-model="$parent.radius" placeholder="50 (km)" type="text" />
      </div>
    </form>
  </li>
  <li class="table-view-cell">
    <div eb-static-map="" lat="coordinates.lat" lng="coordinates.lng" radius="radius" style="height: 400px; width: 100%"></div>
  </li>
</ul>
<ul class="no-border table-view">
  <li class="table-view-divider">
    Stellenfilter
  </li>
  <li class="table-view-cell toggles">
    <p>
      Jobs für Fach- und Führungskräfte
    </p>
    <div class="toggle" ng-class="{active: active(4)}" ng-click="toggleFid(4)">
      <div class="toggle-handle"></div>
    </div>
  </li>
  <li class="table-view-cell toggles">
    <p>
      Praktika, Ausbildungen, Werkstudenten
    </p>
    <div class="toggle" ng-class="{active: active(5)}" ng-click="toggleFid(5)">
      <div class="toggle-handle"></div>
    </div>
  </li>
</ul>
<ul class="table-view no-border">
  <li class="table-view-divider">
    Alle Einstellungen und Chronik löschen
  </li>
  <li class="content-padded">
    <div ng-if="cleared">
      Einstellungen gelöscht!
    </div>
    <button class="btn btn-block" ng-click="clear()">Einstellungen löschen</button>
  </li>
</ul>