.content
  margin-top: 1em
.content-padded
  p
    color: black
.truncated
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis

.content-padded > h1,h2,h3,h4,h5
  word-wrap: break-word

.list > li.job-description.list-item-multi-line
  h1,h2,h3,h4,h5
    height: auto
    line-height: 1.2
    margin-bottom: 0.3em
    font-weight: bold
  li
    line-height: 1.5
  ul
    margin-bottom: 1.3em
    list-style-position: inside
  p
    font-size: 1em
    line-height: 1.1

.job-actions > .btn
  padding: 10px 22px
  margin-bottom: 0px
  line-height: 1.2
  i
    font-size: 1.0em
    margin-right: 0.25em

