
.truncated
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis
.job-description
  li
    line-height: 1.5
  ul
    margin-bottom: 1.3em
    list-style-position: inside
  p
    font-size: 1em !important
    line-height: 1 !important
