!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "telephone=no", :name => "format-detection"}/
    %meta{:content => "user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height", :name => "viewport"}/
    / <link rel="stylesheet" type="text/css" href="css/index.css" />
    %link{:href => "css/normalize.css", :rel => "stylesheet"}/
    %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "css/style.css", :rel => "stylesheet"}/
    %title Empfehlungsbund-App
    = stylesheet_link_tag "all"
  %body
    %script{:type => "text/x-handlebars"}
      #wrap
        .container
          .page-header
            %h2 Empfehlungsbund
            .row
              {{outlet}}
      #footer
        %nav(class="navbar navbar-default navbar-fixed-bottom" role="navigation")
          .container
            %ul.list-inline
              %li {{#linkTo 'index'}}Suche{{/linkTo}}
              %li {{#linkTo 'favorites'}}Merkliste{{/linkTo}}

    %script{"data-template-name" => "jobs/job", :type => "text/x-handlebars"}
      .col-lg-12
        {{#if notification}}
        %div(class="alert alert-success") {{notification}}
        {{/if}}
        <a {{bindAttr href="job_link"}} target="_blank">
        %h1 {{title}}
        </a>
        <button {{action 'addToFavorites' model}} {{bindAttr disabled="this.favorite"}}  class="btn btn-primary btn-md">Auf die Merkliste</button>
        {{{description}}}

    %script{"data-template-name" => "favorites", :type => "text/x-handlebars"}
      .col-lg-12
        %h2 Merkliste
        .list-group
          {{#each model}}
          .list-group-item
            .row
              .col-sm-4
                {{id}}
                {{log description}}
                {{#link-to 'jobs.job' id}}
                <img {{bindAttr src="mobile_logo_url" alt="firm"}} />
                {{/link-to}}
              .col-sm-8
                %h3 {{title}}
          {{else}}
          Keine Einträge in der Liste
          {{/each}}
    %script{"data-template-name" => "search", :type => "text/x-handlebars"}
      .col-lg-12
        .form-group
          {{input type="text" placeholder="Suchbegriff" value=query insert-newline="search" class="form-control input-lg" name='search' }}
          <button {{action 'search' model}} class="btn btn-primary btn-md">Suchen</button>
        .list-group
          {{#each jobsResults}}
          .list-group-item
            .row
              .col-sm-4
                {{#link-to "jobs.job" id}}
                <img {{bindAttr src="mobile_logo_url" alt="firm"}} />
                {{/link-to}}
                .col-sm-12
                  {{firm}} - {{location}} - {{job_id}}
              .col-sm-8
                %h3 {{title}}
          {{/each}}

    %script{"data-template-name" => "search/jobs", :type => "text/x-handlebars"}
      %h2 Suche
      %ul
        {{#each model}}
        %li
          {{job_id}}
          {{firm}}
        {{else}}
        Keine Ergebnisse
        {{/each}}
    %script{:src => "cordova.js", :type => "text/javascript"}

    = javascript_include_tag  "all"
    / initialize cordova app
    :javascript
      app.initialize();

