!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "telephone=no", :name => "format-detection"}/
    %meta{:content => "user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height", :name => "viewport"}/
    = stylesheet_link_tag "all"
    -#<link rel="stylesheet" type="text/css" href="css/index.css" />
    -#%link{:href => "css/normalize.css", :rel => "stylesheet"}/
    -#%link{:href => "css/style.css", :rel => "stylesheet"}/
    -#<script src="http://192.168.6.115:8080/target/target-script-min.js"></script>
    %title Empfehlungsbund-App
  %body

    -# Application Template
    %script{:type => "text/x-handlebars"}
      .page
        %header.action-bar.fixed-top
          {{#linkTo 'index' class="app-icon action"}}
          <i class="icon-fries"></i>
          {{/linkTo}}
          %h1.title Empfehlungsbund
          %ul.actions.pull-right
            %li
              {{#linkTo 'index' class="action"}}<i class="icon-search"></i>{{/linkTo}}
            %li
              {{#linkTo 'favorites' class="action"}}<i class="icon-star-full"></i>{{/linkTo}}
            %li
              {{#linkTo 'settings' class="action"}}<i class="icon-settings"></i>{{/linkTo}}
        .content
          .inset
            {{outlet}}


    -# Jobs#show
    %script{"data-template-name" => "jobs/job", :type => "text/x-handlebars"}
      <a {{bindAttr href="job_link"}} target="_blank">
      %h2 {{title}}
      </a>
      %ul.list.inset
        %li.list-item-multi-line
          {{#if this.favorite}}
          <button {{action 'removeFromFavorites' model}} class="btn btn-small"><i class="icon-close"></i> Von Merkliste entfernen</button>
          {{else}}
          <button {{action 'addToFavorites' model}} class="btn btn-small"><i class='icon-plus'></i> Auf die Merkliste</button>
          {{/if}}
        %li.list-item-multi-line.job-description
          {{{description}}}

    -# Favorites#index
    %script{"data-template-name" => "favorites", :type => "text/x-handlebars"}
      %ul.list
        %li.list-divider Merkliste
        {{#each model}}
        %li.list-item-multi-line
          %h3 {{title}}
          %p
            {{#link-to 'jobs.job' id}}
            <img {{bindAttr src="mobile_logo_url" alt="firm"}} />
            {{/link-to}}
        {{else}}
        Keine Einträge in der Liste
        {{/each}}

    -# index page -> search
    %script{"data-template-name" => "search", :type => "text/x-handlebars"}
      %form.form-flex
        %label.block-label Suchbegriff
        {{view App.SearchField placeholder="z.B. Java Developer" value=query target="App.SearchRoute" action="search"}}
        .form-actions
          <button {{action 'search' model}} type="button" class="btn btn-block">Suchen</button>
      %ul.list
        %li.list-divider
          Ergebnisse
        {{#each jobsResults}}
        %li.list-item-multi-line.selectable
          {{#link-to "jobs.job" id}}
          %h3.truncated {{title}}
          {{/link-to}}
          %p
            {{firm}} - {{location}}
        {{/each}}

    -# Settings#show
    %script{"data-template-name" => "settings", :type => "text/x-handlebars"}
      %form.form-flex
        %label.block-label Suchradius und Ort
        .flex-group
          {{input class="input-text flex1" type="text" placeholder="Ort" value=city }}
          {{input class="input-text flex1" type="number" placeholder="Suchradius um den Ort in km" value=radius }}
        <button {{action 'submitSettings' model}} class="btn btn-block">Speichern</button>

    %script{"data-template-name" => "search/jobs", :type => "text/x-handlebars"}
      %h2 Suche
      %ul
        {{#each model}}
        %li
          {{job_id}}
          {{firm}}
        {{else}}
        Keine Ergebnisse
        {{/each}}
    %script{:src => "cordova.js", :type => "text/javascript"}

    = javascript_include_tag  "all"
    / initialize cordova app
    :javascript
      app.initialize();

